.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),url('../../images/Rect1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
  
}
header{
    display: flex;
    justify-content: space-around;
}
header > img{
    height: 80px;
    width: 140px;
    margin-top: 20px;
}
header > nav {
    margin-top: 20px;
    margin: 15px;
    text-decoration: none;
    padding: 5px 15px;
}
.navLink{
    color: white;
    font-weight: 600;
}
.login{
    background-color: #F9A51A;
    color: black;
    border-radius: 5px;
}
.login:hover{
    background-color: black;
    color: #F9A51A;
}
.header__center > input {
    width: 400px;
    height: 30px;
    border: none;
    outline-width: 0;
    margin-left: 15px;
    margin-top: 20px;
    background-color:  rgba(252, 248, 247, 0.5);
}
.card__section{
    display: flex;
    height: 200px;
    padding: 30px;
}
.place__info{
    color: white;
}
.bookingBtn{
    background-color: #F9A51A;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 20px;
    text-transform: inherit;
}
.card{
    text-decoration: none;

}