header{
    border-bottom: 1px solid lightgray;
    margin-right: 40px;
}
.logo{
    margin-bottom: 20px;
}
nav{
    margin-right: 160px;
    font-weight: 600;
}

.top{
    
    margin-left: 80px;
}
.hotel-section{
    display: flex;
}
.related-map{
    margin-top: 30px;
    padding-right: 60px;
}